<body>
    <div class ="rgpd">
    <h1>Responsables du traitement</h1>
    <p>
        Nom et prenom des entrepreneurs : Guillot Bryan et Midey Yannick. <br />
        Nom de la société : SushiFast <br />
        Forme juridique : SAS (Société par application simplifié). <br />
        Numéro de SIRET : 235 532 753. <br />
        Adresse du siège social : 2Bis Rue Edouard Branly, 77000 Melun. <br />
        Informations de contact : sushifast@gmail.Com. <br />
        Directeur de publication : Yannick MIDEY. <br />
    </p>

    <h1>Coordonnées de l'hebergeur</h1>
    <p>
        Nom de l'hebergeur : Guillot Bryan <br />
        Adresse : 2Bis Rue Edouard Branly, 77000 Melun.
    </p>

    <h1>Mentions relatives à l’utilisation des données personnelles</h1>
    <p>
        Coordonnées du délégué à la protection des données (DPO) : Bryan Guillot
    </p>
    <h4>Qui sont les destinataires des données</h4>
    <p>
        Destinataires des données : SushiShop
    </p>
    <h4>Pour quelle raison collectons-nous vos données personnelles ?</h4>
    <p>
        Destine a faire une commande de sushi à votre nom qui peut etre supprimé si demandé
    </p>
    <h4>Combien de temps ces informations sont-elles conservées ?</h4>
    <p>
        Les données personnelles que vous avez renseignées sont généralement stockées en base active pendant toute la
        durée d’utilisation de nos services.
        Vous pouvez bien entendu à tout moment décider de supprimer vos données personnelles. <br />
    </p>
</div>
</body>